# The following directories will be created by the
# ant task 'deps'

WEB-INF/lib/
WEB-INF/modules/
WEB-INF/packages/

# local app engine temp files
WEB-INF/appengine-generated/

*.sublime-project

*.sublime-workspace
