<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>{{ title }}</title>
   <script type="text/javascript">
   WebFontConfig = {
    google: { families: [ 'Kotta+One::latin,latin-ext' ] }
   };
   (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
   })();</script>

   <link rel="stylesheet" href="/static/vendor/normalize.css" />
   <link rel="stylesheet" href="/static/vendor/foundation.min.css" />
   <link rel="stylesheet" href="/static/vendor/foundation-datepicker.css" />

   <link rel="stylesheet" href="/static/stachelhaut.css" />
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />

   <script src="/static/vendor/modernizr.js"></script>

   <link rel="shortcut icon" href="/favicon.ico" />
   <meta name="format-detection" content="telephone=no" />

</head>
<body>

   <header>
      <div class="row">
         <div class="large-12 columns">
            <h1><a href="/">Seestern-Bautagebuch</a></h1>
         </div>
      </div>
      <div class="row">
         <div class="large-12 columns">
         {% block breadcrumbs %}{% endblock%}
         </div>
      </div>
   </header>

   <main>
      {% block main %}{% endblock%}
   </main>

   <footer class="row">
      <div class="large-12 columns">
         <p>Wohnprojekt »Seestern Aspern« | <script>
               document.write("<n uers=\"znvygb:bssvpr@frrfgrea-nfcrea.ng\" ery=\"absbyybj\">bssvpr@frrfgrea-nfcrea.ng</n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
               </script> | <abbr title="Zentrale Vereinsregister Zahl">ZVR</abbr>: 021082600 | Heumühlgasse 2a/3 | 1040 Wien</p>
      </div>
   </footer>

   {% block modals %}{% endblock %}
   <script src="/static/vendor/jquery-2.1.0.min.js"></script>
   <script src="/static/vendor/foundation.min.js"></script>
   <script src="/static/vendor/foundation-datepicker.min.js"></script>
   <script> $(document).foundation(); </script>
   <script src="/static/stachelhaut.js"></script>


   {% if user == null %}
   <!-- Piwik Analytics -->
   <script type="text/javascript">
   var _paq = _paq || [];
   _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
   _paq.push(["setCookieDomain", "*.seestern-aspern.at"]);
   _paq.push(["trackPageView"]);
   _paq.push(["enableLinkTracking"]);

   if (document.location.port < 1024) {
      (function() {
         var u=(("https:" == document.location.protocol) ? "https" : "http") + "://seestern-aspern.at/stats/";
         _paq.push(["setTrackerUrl", u+"piwik.php"]);
         _paq.push(["setSiteId", "1"]);
         var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
         g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
   }
   </script>
   <!-- End Piwik Code -->
   {% endif %}

</body>
</html>
