<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>{{ title }}</title>
   <script type="text/javascript">
   WebFontConfig = {
    google: { families: [ 'Kotta+One::latin,latin-ext' ] }
   };
   (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
   })();</script>

   <link rel="stylesheet" href="/static/vendor/normalize.css" />
   <link rel="stylesheet" href="/static/vendor/foundation.min.css" />
   <link rel="stylesheet" href="/static/vendor/foundation-datepicker.css" />

   <link rel="stylesheet" href="/static/stachelhaut.css" />
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />

   <script src="/static/vendor/modernizr.js"></script>

   <link rel="shortcut icon" href="/favicon.ico" />
   <meta name="format-detection" content="telephone=no" />

</head>
<body>

   <header>
      <div class="row">
         <div class="large-12 columns">
            <a href="/"><h1>Seestern-Bautagebuch</h1></a>
         </div>
      </div>
      <div class="row">
         <div class="large-12 columns">
         {% block breadcrumbs %}{% endblock%}
         </div>
      </div>
   </header>

   <main>
      {% block main %}{% endblock%}
   </main>

   <footer class="row">
      <div class="large-12 columns">
         <p>Wohnprojekt »Seestern Aspern« | <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'&'+'#'+'3'+'7'+';'+
            '7'+'3'+'e'+'&'+'#'+'1'+'0'+'1'+';'+'%'+'7'+'&'+'#'+'5'+'1'+';'+'t'+'e'+'%'+'7'+'2'+'n'+'%'+'4'+'&'+
            '#'+'4'+'8'+';'+'&'+'#'+'1'+'1'+'2'+';'+'%'+'&'+'#'+'5'+'4'+';'+'&'+'#'+'4'+'9'+';'+'&'+'#'+'1'+'1'+
            '4'+';'+'%'+'&'+'#'+'5'+'5'+';'+'1'+'%'+'2'+'E'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'1'+'6'+';'+"'"+'>'+
            '&'+'#'+'1'+'1'+'5'+';'+'e'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'1'+'1'+'5'+';'+'t'+'e'+'r'+'n'+'&'+'#'+
            '6'+'4'+';'+'p'+'a'+'r'+'q'+'&'+'#'+'4'+'6'+';'+'a'+'t'+'<'+'/'+'a'+'>');</script> | <abbr title="Zentrale Vereinsregister Zahl">ZVR</abbr>: 021082600 | Heumühlgasse 2a/3 | 1040 Wien | <a href="http://www.parq.at/parqStatic/uploads/33220-43442-29800-58163/Seestern_final.pdf">Statuten</a></p>
      </div>
   </footer>

   {% block modals %}{% endblock %}
   <script src="/static/vendor/jquery-2.1.0.min.js"></script>
   <script src="/static/vendor/foundation.min.js"></script>
   <script src="/static/vendor/foundation-datepicker.min.js"></script>
   <script> $(document).foundation(); </script>
   <script src="/static/stachelhaut.js"></script>

</body>
</html>
