<div class="large-3 medium-4 columns buttonArea">
      <a href="http://seestern-aspern.at">
         <img src="/static/seestern.svg" alt="" title="" width="35" height="35" />
         <span style="position: relative; top: 2px; padding-left: 2px;">Seestern-Aspern.at</span>
      </a>


      <a href="https://www.flickr.com/photos/seesternaspern/">
         <img src="/static/flickr.svg" alt="" title="" width="35" height="35" />
         <span style="position: relative; top: 2px; padding-left: 2px;">Unsere Fotos</span>
      </a>

      <a href="https://www.facebook.com/seestern.aspern">
         <img src="/static/facebook.svg" alt="" title="" width="35" height="35" />
         <span style="position: relative; top: 2px; padding-left: 2px;">Facebook-Seite</span>
      </a>

      <a href="https://twitter.com/SeesternAspern">
         <img src="/static/twitter.svg" alt="" title="" width="35" height="35" />
         <span style="position: relative; top: 2px; padding-left: 2px;">@SeesternAspern</span>
      </a>

      {% if user %}
      <a href="/admin" class="button tiny radius" style="width: 80%">
         Admin Page
      </a>
      {% endif %}

</div>
