{% extends "base.html" %}

{% block main %}

<div class="row">

   <div class="large-9 medium-8 columns">
   {% if stories.length > 0 %}

      {% for story in stories %}
      <div class="frontstory">
         <a href="{{ story | href }}">
            <div class="dayIndicatorWrapper">
               <span class="dayIndicator">Tag<br>{{ story.posted | dateDiff }}</span>
            </div>
            <div class="textWrapper">
                  <h2>{{ story.title }}</h2>
                  <div class="teaser">{{ story.teaser | markdown }}</div>
            </div>
         </a>
      </div>
      {% endfor %}

   {% endif %}
   </div>

   <div class="large-3 medium-4 columns">
      <div style="background: #ccc; height: 200px;">Buttons</div>
   </div>

</div>

{% endblock %}