{% extends "base.html" %}

{% block main %}

<div class="row">

   <div class="large-9 medium-8 columns">
   {% if stories.length > 0 %}

      {% for story in stories %}
      <div class="frontStory">
         <div class="dayIndicatorWrapper">
            <span class="dayIndicator">Tag <br> {{ story.posted | dateDiff }}</span>
         </div>
         <div class="textWrapper">
            <a href="{{ story | href }}">
               <h2>{{ story.title }}</h2>
               <div class="teaser">{{ story.teaser | markdown }}</div>
            </a>
         </div>
      </div>
      {% endfor %}

   {% endif %}
   </div>

   {% include "buttons.html" %}

</div>

{% endblock %}