{% extends "base.html" %}

{% block main %}
<form method="POST" action="/stories/add" id="add-story-form">

   <div class="row">
      <div class="large-12 columns">
         <label>
            Title
            <input type="text" name="title" required/>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Date
            <input type="text" name="posted" id="datepicker" value="{{ now | date:"dd-MM-YYYY" }}" />
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Teaser
            <textarea name="teaser" class="teaserEditor"></textarea>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Text
            <textarea name="text" class="textEditor"></textarea>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <input type="submit" class="button"value="Post Story" />
      </div>
   </div>

</form>
{% endblock %}