{% extends "base.html" %}

{% block main %}
<form method="POST" action="/stories/add">

   <div class="row">
      <div class="large-12 columns">
         <label>
            Title
            <input type="text" name="title" />
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Text
            <textarea name="text"></textarea>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <input type="submit" class="button"value="Post Story" />
      </div>
   </div>

</form>
{% endblock %}