{% extends "base.html" %}

{% block main %}
<form method="POST" action="/stories/{{ story.id }}/edit" id="edit-story-form">

   <div class="row">
      <div class="large-12 columns">
         <label>
            Title
            <input type="text" name="title" value="{{ story.title }}" />
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Date
            <input type="text" name="posted" id="datepicker" value="{{ story.posted | date:'dd-MM-yyyy' }}" />
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Teaser
            <textarea name="teaser" class="teaserEditor">{{ story.teaser }}</textarea>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <label>
            Text
            <textarea name="text" class="textEditor">{{ story.text }}</textarea>
         </label>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <input type="submit" class="button"value="Save Story" />
      </div>
   </div>

</form>
{% endblock %}