body {
   background: url('noise.80-80-5.png');
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Kotta One', serif;
}

.row {
   background: #fff;
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
}

header h1 {
   padding: 2rem 0;
}

footer {
   border-bottom: 1px solid #ccc;
   border-radius: 0px 0px 8px 8px;
}

footer p {
   color: #999;
   font-size: 0.75rem;
   line-height: 0.938rem;
   text-align: center;
}

footer a,
footer abbr {
   color: #999 !important;
}

.textEditor {
   height: 300px;
}

.dayIndicator {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;

   font-size: 0.938rem;
   line-height: 1.2rem;

   font-weight: bold;
   border-radius: 50% 50%;
   background: #0A6362;
   color: #f6f6f6;
   height: 65px;
   width: 65px;
   text-align: center;
   padding-top: 15px;
   display: block;

   position: relative;
   top: 10px;
}

.dayIndicatorWrapper {
   display: inline-block;
   vertical-align: top;
   width: 80px;
}

.textWrapper {
   display: inline-block;
   width: 70%;
   width: -webkit-calc(100% - 85px);
   width: -moz-calc(100% - 85px);
   width: calc(100% - 85px);
}

.frontstory {
   margin-bottom: 1.5rem;
}

a .teaser {
   color: #000;
}

.buttonArea a {
   display: block;
   margin-bottom: 14px;
   color: #000;
}